// **************
// * DEVICES MEDIA QUERIES
// **************
$mobile-size = 'only screen and (min-width: 576px)';
$tablet-size = 'only screen and (min-width: 768px)';
$desktop-size = 'only screen and (min-width: 992px)';
$landscape-mobile-size = 'only screen and (max-height: 400px)';

// **************
// * COLOR NAMES
// **************
// base
$blued-white = #FAFFFF;
$blued-black = #050914;
// ground
$ground-300 = #7E5002;
$ground-500 = #E69405;
$ground-900 = #FAD121;
// wine
$wine-500 = #3D1132;
$wine-900 = #73263D;
// gradients
$background-gradient = linear-gradient(180deg, $ground-300 25%, $ground-500 45%, $ground-900 100%);
