body
  background-color $background-color;
  background-image linear-gradient(180.58deg, #7E5002 25.7%, #E69405 44.23%, #FAD121 98.65%);
  color #3D1132;
  font-size 15px;
  line-height: 150%;
  font-family 'Bungee', cursive;

.page-wrapper
  margin auto;
  max-width 960px;
  padding: 0 8px;

.section
  text-align center;

  > p
    font-size 24px;
    font-family 'Nunito', sans-serif;
    line-height 33px;

.feature-list 
  padding: 0;

.requirement-list
  margin auto;
  max-width 300px;
  text-align left;
  font-family 'Nunito', sans-serif;

  dt
    display inline;
    margin-right 8px;
    font-weight bold;

  dd
    display inline;
    margin 0;
