.button
  display flex;
  justify-content center;
  align-items center;
  margin auto;
  width 200px;
  height 50px;
  filter drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
  background-image url('../images/button.svg');
  background-origin center center;
  background-size 100% 100%;
  color white;
  font-size 20px;
  cursor pointer;
  transition 0.1s all;

  &:hover
    filter drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    transform scale(0.95);