.screenshots-slider
  margin-bottom 20px;

.glide__track, .glide__slides
  overflow hidden;

// .glide__slide
//   transition 200ms transform;
//   transform scale(0.85);

// .glide__slide--active
//   transform scale(1);

.glide__slide
  transition 200ms width;
  width: 1000px !important

.glide__slide--active
  width: 1000px !important