.title
  margin: 0
  font-weight bold;
  font-size 28px;
  line-height 130%;
  height 15vh

  @media $mobile-size
    font-weight normal;
    font-size 50px;
    font-size: 5vmax;

.subtitle
  font-size 26px;
  color $titles-color;
  
  @media $mobile-size
    font-size 48px;
    line-height 130%;

.default-text
  font-weight bold;

  @media $mobile-size
    font-weight normal;
