.is-introduction
  margin auto;
  color white;

  > .title
    color white;
    width: 90vw
    margin: auto

.is-features ul
  list-style none;
  font-family 'Nunito', sans-serif;

  > li::before
    content ' - ';

.copyright
  color #050914;
  text-align center;
  font-weight bold;
  font-size 12px;
  font-family 'Nunito', sans-serif;
  margin-top: 50px;

.social
  display grid;
  justify-content center;
  grid-template-columns repeat(auto-fit, 32px);
  gap 54px;
  margin: 32px 0;

  > .social-icon
    width 32px;
    height 32px;