.tns-outer > button[data-action='stop']
  display none;
  .tns-item 
    width: 50vw !important

.slide
  box-sizing: border-box
  border: 5px solid $titles-color
  border-radius: 5px;
  margin-right: 10px;

