.title
  margin: 0
  font-weight bold;
  font-size calc(16px + 100 * ((100vw - 320px) / 320));
  line-height 130%;
  height 15vh

  @media $mobile-size
    font-size calc(16px + 10 * ((100vw - 320px) / 320));
    font-weight normal;

.subtitle
  font-size 26px;
  color $titles-color;
  
  @media $mobile-size
    font-size 48px;
    line-height 130%;

.default-text
  font-weight bold;

  @media $mobile-size
    font-weight normal;
