body
  margin 0;
  padding 0;
  background-color #7e5002;
  font-family 'Bungee', cursive;

.game
  height 50vh;
  // background cornflowerblue;
  // background-image url('./images/header_background.png');
  background-position bottom;
  background-size cover;
  image-rendering pixelated;

  &__logo
    display block;
    margin auto;
    padding-top 10vh;
    max-width 50vh;
    width 90%;
    filter drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
    image-rendering pixelated;

section
  display flex;
  flex-direction column;
  justify-content center;
  overflow hidden;
  margin auto;
  max-height 50vh;
  color white;
  text-align center;

section h1
  font-size 50px;

section p
  font-size 24px;
  font-family 'Nunito', sans-serif;
  line-height 33px;