$mobile-size = "only screen and (min-width: 576px)"
$tablet-size = "only screen and (min-width: 768px)"
$desktop-size = "only screen and (min-width: 992px)"
$landscape-mobile-size = "only screen and (max-height: 500px)"

$background-color = #7e5002;
$titles-color = #73263D;