extends ./_templates/default.pug
include ./_mixins/section.pug
include ./_mixins/separator.pug

block content
  include ./_partials/header.pug

  include ./_partials/introduction.pug  
  +separator
  include ./_partials/screenshots.pug
  +separator
  include ./_partials/features.pug
  +separator
  include ./_partials/requirements.pug
  +separator(true)

  include ./_partials/footer.pug
  include ./_partials/easter-egg.pug