+section("is-features", false, "Jogo tem")
  ul.feature-list
    li Controle de Dininho nessa clássica aventura em plataformas, superando os obstáculos para entregar os ovos ao ninho.
    li Campanha principal com 4 mundos distintos com suas próprias características e desafios.
    li Mundo especial desbloqueável para os melhores exploradores.
    li Temporizador dentro do jogo (Speedrunners #{"<3"}).
    li Ranking de melhores tempos em cada fase entre seus amigos da Steam!
