footer.section
  .copyright Dininho Adventures Copyright @ 2020 - 2020

  .social
    a(href="#discord" target="_blank" rel="noopener noreferrer")
      img.social-icon(src="./images/icons/discord.svg")
    a(href="https://twitter.com/dinobonoide" target="_blank" rel="noopener noreferrer")
      img.social-icon(src="./images/icons/twitter.svg")
    a(href="https://www.twitch.tv/dininho" target="_blank" rel="noopener noreferrer")
      img.social-icon(src="./images/icons/twitch.svg")