<!DOCTYPE html>
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dininho Adventures
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito&display=swap")

    // Required Core Stylesheet
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css")
    // Optional Theme Stylesheet
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.min.css")

    link(rel="stylesheet", href="style.css")
  body