+section("is-requirements", false, "Requisitos", true)
  dl.requirement-list
    div
      dt SO: 
      dd Windows 7, 8/8.1, 10
    div
      dt Processador:
      dd 2.0 Ghz
    div
      dt Memória:
      dd 2.5 GB de RAM
    div
      dt Placa de vídeo:
      dd 128mb Video Memory
    div
      dt DirectX:
      dd Versão 9.0
    div
      dt Armazenamento:
      dd 400 MB de espaço disponível